@{
}

<h1>Nice you've created your product!</h1>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary m-3">Home</a>
<a asp-controller="Product" asp-action="Index" class="btn btn-primary m-3">Create Another One</a>